node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

dist

.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
logs
*.pid
*.seed
*.pid.lock

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

docker-compose.yml
Dockerfile

.git
.gitignore